<!-- template dos contatos -->
<div class="container">
  <div class="row">
    <div class="col-lg-4 layout-spacing">
      <div class="statbox widget box box-shadow">
        <div class="widget-header">
          <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
              <h4 class="pb-0">Meus Contatos</h4>
              <input
                type="text"
                class="form-control"
                name="search"
                [(ngModel)]="searchText"
                autocomplete="off"
                placeholder="&#61442;  Buscar Contato"
              />
            </div>
          </div>
        </div>

        <div class="widget-content widget-content-area">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div id="content_2" class="tabcontent">
                <div class="story-container-2">
                  <div class="single-story">
                    <div class="story-dp">
                      <i
                        class="bi bi-person-square add-story"
                        style="font-size: 2rem;"
                      ></i>
                    </div>
                    <div class="story-author">
                      <p class="name">Meu numero</p>
                      <p class="time">+55 51 98492-3495</p>
                    </div>
                  </div>
                  <p class="divider">Contatos</p>

                  <div
                    *ngFor="let contato of list | filter:searchText"
                    class="single-story bg-light"
                  >
                    <div class="story-dp unseen">
                      <i
                        class="bi bi-person-circle"
                        style="font-size: 2rem;"
                      ></i>
                    </div>
                    <div class="story-author">
                      <p class="name">{{ contato.nome }}</p>
                      <p class="time">{{ contato.numero }}</p>
                    </div>
                    <button
                      type="button"
                      class="btn btn-dark btn-sm menu-icon"
                      data-bs-toggle="modal"
                      data-bs-target="#opcoes"
                    >
                      <i
                        class="bi bi-three-dots-vertical"
                        style="font-size: 1.5rem;"
                      ></i>
                    </button>
                    <!-- modal de opcoes -->
                    <div
                      class="modal fade"
                      id="opcoes"
                      tabindex="-1"
                      aria-labelledby="opcoesLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="opcoesLabel">Opções</h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <!-- modal content body-->
                            <button type="button" class="btn btn-success mx-1">
                              <i class="bi bi-telephone-fill"></i>
                            </button>

                            <button type="button" class="btn btn-primary mx-1">
                              <i class="bi bi-chat-left-text-fill"></i>
                            </button>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-danger"
                              data-bs-dismiss="modal"
                            >
                              <i class="bi bi-trash-fill"></i></button
                            ><!-- botao deletar-->
                            <button type="button" class="btn btn-primary">
                              <i class="bi bi-pencil-square"></i></button
                            ><!-- botao editar-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- --------- -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
